@charset "utf-8";

/*  common  */
#pages {
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	overflow:hidden; 
}
header {
	position: absolute;
	z-index: 2;	
	top: 0;	
	left: 0;
	width: 100%;
	height: 45px;	
	padding: 0;
    background:#00609E;
    background:-ms-linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#00609E), color-stop(100%,#00AFEE));
    background:-webkit-linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    background:linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    border-style:solid;
    border-width:1px;
    border-color:#009CE1 #00AFEE #004E92 #00609E;
}
header h1 {
    text-shadow:rgba(0,0,0,0.8) 0 1px 0;
    font-weight:normal;
	text-align:center;
	color:#fff;
	line-height:45px;
	font-size:22px
}
footer {
	position: absolute;
	z-index: 2;	
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	padding: 0;
	background: #1e1e1e;
	border-top: 4px solid #000;
}
#mains {
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%;
}
#layout {
	position:relative; 
	width:100%; 
	height:100%; 
	overflow:hidden
}

/*  panel  */
.app-panel-animate{
	transition: transform 400ms ease; 
	-ms-transition: -ms-transform 400ms ease; 
	-moz-transition: -moz-transform 400ms ease;
	-webkit-transition: -webkit-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
}
.app-panel-dismiss{
	position:fixed; 
	z-index: 1000; 
	height: 100%; 
	top: 0; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#sidebar {
	position:absolute; 
	width:260px; 
	height:100%; 
	z-index:300; 
	background:#333;
	transform: translate(-260px,0);
	-webkit-transform: translate(-260px,0);
	-moz-transform: translate(-260px,0);
	-o-transform: translate(-260px,0);
	-ms-transform: translate(-260px,0);
}
#widgets {
	position:absolute; 
	top:0; 
	right:0; 
	width:260px; 
	height:100%; 
	background:#333; 
	z-index:300;
	transform: translate(260px,0);
	-webkit-transform: translate(260px,0);
	-moz-transform: translate(260px,0);
	-o-transform: translate(260px,0);
	-ms-transform: translate(260px,0);
}
/*  section animation  */
article.wrapper {
	position:absolute;
	z-index:1;
	top:45px;
	bottom:48px;
	left:0;
	width:100%;
	background:#fff;
	overflow:hidden;
}
section {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 4;
    overflow:hidden;
    display: none;
}
section.anim{
	animation-duration: 400ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
	
	-ms-animation-duration: 400ms;
    -ms-animation-fill-mode: both;
    -ms-animation-timing-function: ease-in-out;
	
	-moz-animation-duration: 400ms;
    -moz-animation-fill-mode: both;
    -moz-animation-timing-function: ease-in-out;
	
	-o-animation-duration: 400ms;
    -o-animation-fill-mode: both;
    -o-animation-timing-function: ease-in-out;
	
    -webkit-animation-duration: 400ms;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
}
section.anim:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}
section.selecting{
	z-index: 5 ;
    display: block;
}
section.selected {
	z-index: 6 ;
    display: block;
}
section.animating{
    display: block;
}

.slideLeftIn{
	animation-name:slideLeftIn;
	-ms-animation-name:slideLeftIn;
	-moz-animation-name:slideLeftIn;
	-webkit-animation-name:slideLeftIn;
	-o-animation-name:slideLeftIn;
}
.slideRightIn{
	animation-name:slideRightIn;
	-ms-animation-name: slideRightIn;
    -webkit-animation-name: slideRightIn;
	-moz-animation-name:slideRightIn;
	-o-animation-name:slideRightIn;
}
	/* slideLeftIn */
	@keyframes slideLeftIn
	{
		0% {
			transform:translate3d(100%,0,0);
			-ms-transform:translate3d(100%,0,0); /* IE 9 */
			-moz-transform:translate3d(100%,0,0); /* Firefox */
			-webkit-transform:translate3d(100%,0,0); /* Safari and Chrome */
			-o-transform:translate3d(100%,0,0); /* Opera */		
		}
		100% {
			transform:translate3d(0,0,0);
			-ms-transform:translate3d(0,0,0); /* IE 9 */
			-moz-transform:translate3d(0,0,0); /* Firefox */
			-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */
			-o-transform:translate3d(0,0,0); /* Opera */	
		}
	}
	
	@-ms-keyframes slideLeftIn
	{
		0% {-ms-transform:translate3d(100%,0,0);}
		100% {-ms-transform:translate3d(0,0,0);}
	}
	
	@-moz-keyframes slideLeftIn
	{
		0% {-moz-transform:translate3d(100%,0,0);}
		100% {-moz-transform:translate3d(0,0,0);}
	}
	
	@-webkit-keyframes slideLeftIn
	{
		0% {-webkit-transform:translate3d(100%,0,0);}
		100% {-webkit-transform:translate3d(0,0,0);}
	}
	
	@-o-keyframes slideLeftIn
	{
		0% {-o-transform:translate3d(100%,0,0);}
		100% {-o-transform:translate3d(0,0,0);}
	}
	
	/* slideRightIn */
	@keyframes slideRightIn
	{
		0% {
			transform:translate3d(0,0,0);
			-ms-transform:translate3d(0,0,0); /* IE 9 */
			-moz-transform:translate3d(0,0,0); /* Firefox */
			-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */
			-o-transform:translate3d(0,0,0); /* Opera */		
		}
		100% {
			transform:translate3d(-100%,0,0);
			-ms-transform:translate3d(-100%,0,0); /* IE 9 */
			-moz-transform:translate3d(-100%,0,0); /* Firefox */
			-webkit-transform:translate3d(-100%,0,0); /* Safari and Chrome */
			-o-transform:translate3d(-100%,0,0); /* Opera */	
		}
	}
	
	@-ms-keyframes slideRightIn
	{
		0% {-ms-transform:translate3d(0,0,0);}
		100% {-ms-transform:translate3d(-100%,0,0);}
	}
	
	@-moz-keyframes slideRightIn
	{
		0% {-moz-transform:translate3d(0,0,0);}
		100% {-moz-transform:translate3d(-100%,0,0);}
	}
	
	@-webkit-keyframes slideRightIn
	{
		0% {-webkit-transform:translate3d(0,0,0); }
		100% {-webkit-transform:translate3d(-100%,0,0); }
	}
	
	@-o-keyframes slideRightIn
	{
		0% {-o-transform:translate3d(0,0,0);}
		100% {-o-transform:translate3d(-100%,0,0);}
	}

.slideLeftOut{
    z-index: 10;
	animation-name:slideLeftOut;
	-ms-animation-name:slideLeftOut;
	-moz-animation-name:slideLeftOut;
	-webkit-animation-name:slideLeftOut;
	-o-animation-name:slideLeftOut;
}
.slideRightOut{
	animation-name:slideRightOut;
	-ms-animation-name: slideRightOut;
    -webkit-animation-name: slideRightOut;
	-moz-animation-name:slideRightOut;
	-o-animation-name:slideRightOut;
}
	/* slideLeftOut */
	@keyframes slideLeftOut
	{
		0% {
			transform:translate3d(0,0,0);
			-ms-transform:translate3d(0,0,0); /* IE 9 */
			-moz-transform:translate3d(0,0,0); /* Firefox */
			-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */
			-o-transform:translate3d(0,0,0); /* Opera */		
		}
		100% {
			transform:translate3d(100%,0,0);
			-ms-transform:translate3d(100%,0,0); /* IE 9 */
			-moz-transform:translate3d(100%,0,0); /* Firefox */
			-webkit-transform:translate3d(100%,0,0); /* Safari and Chrome */
			-o-transform:translate3d(100%,0,0); /* Opera */	
		}
	}
	
	@-ms-keyframes slideLeftOut
	{
		0% {-ms-transform:translate3d(0,0,0);}
		100% {-ms-transform:translate3d(100%,0,0);}
	}
	
	@-moz-keyframes slideLeftOut
	{
		0% {-moz-transform:translate3d(0,0,0);}
		100% {-moz-transform:translate3d(100%,0,0);}
	}
	
	@-webkit-keyframes slideLeftOut
	{
		0% {-webkit-transform:translate3d(0,0,0);}
		100% {-webkit-transform:translate3d(100%,0,0);}
	}
	
	@-o-keyframes slideLeftOut
	{
		0% {-o-transform:translate3d(0,0,0);}
		100% {-o-transform:translate3d(100%,0,0);}
	}
	
	/* slideRightOut */
	@keyframes slideRightOut
	{
		0% {
			transform:translate3d(-100%,0,0);
			-ms-transform:translate3d(-100%,0,0); /* IE 9 */
			-moz-transform:translate3d(-100%,0,0); /* Firefox */
			-webkit-transform:translate3d(-100%,0,0); /* Safari and Chrome */
			-o-transform:translate3d(-100%,0,0); /* Opera */		
		}
		100% {
			transform:translate3d(0,0,0);
			-ms-transform:translate3d(0,0,0); /* IE 9 */
			-moz-transform:translate3d(0,0,0); /* Firefox */
			-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */
			-o-transform:translate3d(0,0,0); /* Opera */	
		}
	}
	
	@-ms-keyframes slideRightOut
	{
		0% {-ms-transform:translate3d(-100%,0,0);}
		100% {-ms-transform:translate3d(0,0,0);}
	}
	
	@-moz-keyframes slideRightOut
	{
		0% {-moz-transform:translate3d(-100%,0,0);}
		100% {-moz-transform:translate3d(0,0,0);}
	}
	
	@-webkit-keyframes slideRightOut
	{
		0% {-webkit-transform:translate3d(-100%,0,0); }
		100% {-webkit-transform:translate3d(0,0,0); }
	}
	
	@-o-keyframes slideRightOut
	{
		0% {-o-transform:translate3d(-100%,0,0);}
		100% {-o-transform:translate3d(0,0,0);}
	}
.slideUpIn{
    z-index: 10 !important;
	animation-name:slideUpIn;
	-ms-animation-name: slideUpIn;
    -webkit-animation-name: slideUpIn;
	-moz-animation-name:slideUpIn;
	-o-animation-name:slideUpIn;
}
.slideUpOut{
	animation-name:slideUpOut;
	-ms-animation-name: slideUpOut;
    -webkit-animation-name: slideUpOut;
	-moz-animation-name:slideUpOut;
	-o-animation-name:slideUpOut;
}
	/* slideUpIn */
	@keyframes slideUpIn
	{
		0% {
			transform:translate3d(0,90%,0);
			-ms-transform:translate3d(0,90%,0); /* IE 9 */
			-moz-transform:translate3d(0,90%,0); /* Firefox */
			-webkit-transform:translate3d(0,90%,0); /* Safari and Chrome */
			-o-transform:translate3d(0,90%,0); /* Opera */		
		}
		100% {
			transform:translate3d(0,0,0);
			-ms-transform:translate3d(0,0,0); /* IE 9 */
			-moz-transform:translate3d(0,0,0); /* Firefox */
			-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */
			-o-transform:translate3d(0,0,0); /* Opera */	
		}
	}
	
	@-ms-keyframes slideUpIn
	{
		0% {-ms-transform:translate3d(0,90%,0);}
		100% {-ms-transform:translate3d(0,0,0);}
	}
	
	@-moz-keyframes slideUpIn
	{
		0% {-moz-transform:translate3d(0,90%,0);}
		100% {-moz-transform:translate3d(0,0,0);}
	}
	
	@-webkit-keyframes slideUpIn
	{
		0% {-webkit-transform:translate3d(0,90%,0); }
		100% {-webkit-transform:translate3d(0,0,0); }
	}
	
	@-o-keyframes slideUpIn
	{
		0% {-o-transform:translate3d(0,90%,0);}
		100% {-o-transform:translate3d(0,0,0);}
	}
	
	@-webkit-keyframes slideUpIn {
		0% {-webkit-transform: translate3d(0,90%,0)}
		100% {-webkit-transform: translate3d(0,0,0)}
	}
	/* slideUpOut */
	@keyframes slideUpOut
	{
		0% {
			transform:translate3d(0,0,0);
			-ms-transform:translate3d(0,0,0); /* IE 9 */
			-moz-transform:translate3d(0,0,0); /* Firefox */
			-webkit-transform:translate3d(0,0,0); /* Safari and Chrome */
			-o-transform:translate3d(0,0,0); /* Opera */		
		}
		100% {
			transform:translate3d(0,100%,0);
			-ms-transform:translate3d(0,100%,0); /* IE 9 */
			-moz-transform:translate3d(0,100%,0); /* Firefox */
			-webkit-transform:translate3d(0,100%,0); /* Safari and Chrome */
			-o-transform:translate3d(0,100%,0); /* Opera */	
		}
	}
	
	@-ms-keyframes slideUpOut
	{
		0% {-ms-transform:translate3d(0,0,0);}
		100% {-ms-transform:translate3d(0,100%,0);}
	}
	
	@-moz-keyframes slideUpOut
	{
		0% {-moz-transform:translate3d(0,0,0);}
		100% {-moz-transform:translate3d(0,100%,0);}
	}
	
	@-webkit-keyframes slideUpOut
	{
		0% {-webkit-transform:translate3d(0,0,0); }
		100% {-webkit-transform:translate3d(0,100%,0); }
	}
	
	@-o-keyframes slideUpOut
	{
		0% {-o-transform:translate3d(0,0,0);}
		100% {-o-transform:translate3d(0,100%,0);}
	}
	
	@-webkit-keyframes slideUpOut {
		0% {-webkit-transform: translate3d(0,0,0)}
		100% {-webkit-transform: translate3d(0,100%,0)}
	}
.scaleIn{
	z-index:10 !important;
	animation-name:scaleIn;
	-ms-animation-name: scaleIn;
    -webkit-animation-name: scaleIn;
	-moz-animation-name:scaleIn;
	-o-animation-name:scaleIn;
}
.scaleOut{
	animation-name:scaleOut;
	-ms-animation-name: scaleOut;
    -webkit-animation-name: scaleOut;
	-moz-animation-name:scaleOut;
	-o-animation-name:scaleOut;
}
	/* scaleIn */
	@keyframes scaleIn
	{
		0% {
			opacity: 0;
			transform:scale(.5);
			-ms-transform:scale(.5); /* IE 9 */
			-moz-transform:scale(.5); /* Firefox */
			-webkit-transform:scale(.5); /* Safari and Chrome */
			-o-transform:scale(.5); /* Opera */		
		}
		100% {
			opacity: 1;
			transform:scale(1);
			-ms-transform:scale(1); /* IE 9 */
			-moz-transform:scale(1); /* Firefox */
			-webkit-transform:scale(1); /* Safari and Chrome */
			-o-transform:scale(1); /* Opera */	
		}
	}
	
	@-ms-keyframes scaleIn
	{
		0% {opacity: 0;-ms-transform:scale(.5);}
		100% {opacity: 1;-ms-transform:scale(1);}
	}
	
	@-moz-keyframes scaleIn
	{
		0% {opacity: 0;-moz-transform:scale(.5);}
		100% {opacity: 1;-moz-transform:scale(1);}
	}
	
	@-webkit-keyframes scaleIn
	{
		0% {opacity: 0;-webkit-transform:scale(.5); }
		100% {opacity: 1;-webkit-transform:scale(1); }
	}
	
	@-o-keyframes scaleIn
	{
		0% {opacity: 0;-o-transform:scale(.5);}
		100% {opacity: 1;-o-transform:scale(1);}
	}
	
	@-webkit-keyframes scaleIn {
		0% {opacity: 0;-webkit-transform: scale(.5)}
		100% {opacity: 1;-webkit-transform:scale(1)}
	}
	/* scaleOut */
	@keyframes scaleOut
	{
		0% {
			opacity: 1;
			transform:scale(1);
			-ms-transform:scale(1); /* IE 9 */
			-moz-transform:scale(1); /* Firefox */
			-webkit-transform:scale(1); /* Safari and Chrome */
			-o-transform:scale(1); /* Opera */		
		}
		100% {
			opacity: 0;
			transform:scale(.5);
			-ms-transform:scale(.5); /* IE 9 */
			-moz-transform:scale(.5); /* Firefox */
			-webkit-transform:scale(.5); /* Safari and Chrome */
			-o-transform:scale(.5); /* Opera */	
		}
	}
	
	@-ms-keyframes scaleOut
	{
		0% {opacity: 1;-ms-transform:scale(1);}
		100% {opacity: 0;-ms-transform:scale(.5);}
	}
	
	@-moz-keyframes scaleOut
	{
		0% {opacity: 1;-moz-transform:scale(1);}
		100% {opacity: 0;-moz-transform:scale(.5);}
	}
	
	@-webkit-keyframes scaleOut
	{
		0% {opacity: 1;-webkit-transform:scale(1); }
		100% {opacity: 0;-webkit-transform:scale(.5); }
	}
	
	@-o-keyframes scaleOut
	{
		0% {opacity: 1;-o-transform:scale(1);}
		100% {opacity: 0;-o-transform:scale(.5);}
	}
	
	@-webkit-keyframes scaleOut {
		0% {opacity: 1;-webkit-transform: scale(1)}
		100% {opacity: 0;-webkit-transform:scale(.5)}
	}
	

/**
 *
 * Pull down styles
 *
 */
.pullDown, .pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	font-weight:bold;
	font-size:14px;
	color:#888;
	text-align:center
}
.pullDown .pullDownLabel , .pullUp .pullUpLabel {
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-18px;
}
.pullDown .pullDownIcon, .pullUp .pullUpIcon  {
	display:inline-block; 
	width:40px; height:40px;
	background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
	background-size:40px 80px;
	
	transition-property:transform; 
	-ms-transition-property: -ms-transform; 
	-moz-transition-property: -moz-transform;
	-webkit-transition-property: -webkit-transform;
	-o-transition-property: -o-transform;
	
	transition-duration:250ms; 
	-ms-transition-duration: 250ms; 
	-moz-transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	-o-transition-duration: 250ms;	
}
.pullDown .pullDownIcon {
	transform:rotate(0deg) translateZ(0); 
	-ms-transform: rotate(0deg) translateZ(0); 
	-moz-transform: rotate(0deg) translateZ(0);
	-webkit-transform: rotate(0deg) translateZ(0);
	-o-transform: rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon  {
	transform:rotate(-180deg) translateZ(0); 
	-ms-transform: rotate(-180deg) translateZ(0); 
	-moz-transform: rotate(-180deg) translateZ(0);
	-webkit-transform: rotate(-180deg) translateZ(0);
	-o-transform: rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
	transform:rotate(-180deg) translateZ(0); 
	-ms-transform: rotate(-180deg) translateZ(0); 
	-moz-transform: rotate(-180deg) translateZ(0);
	-webkit-transform: rotate(-180deg) translateZ(0);
	-o-transform: rotate(-180deg) translateZ(0);
}

.pullUp.flip .pullUpIcon {
	transform:rotate(0deg) translateZ(0); 
	-ms-transform: rotate(0deg) translateZ(0); 
	-moz-transform: rotate(0deg) translateZ(0);
	-webkit-transform: rotate(0deg) translateZ(0);
	-o-transform: rotate(0deg) translateZ(0);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
	background-position:0 100%;
	
	transform:rotate(0deg) translateZ(0); 
	-ms-transform: rotate(0deg) translateZ(0); 
	-moz-transform: rotate(0deg) translateZ(0);
	-webkit-transform: rotate(0deg) translateZ(0);
	-o-transform: rotate(0deg) translateZ(0);
	
	transition-duration:0ms; 
	-ms-transition-duration: 0ms; 
	-moz-transition-duration: 0ms;
	-webkit-transition-duration: 0ms;
	-o-transition-duration: 0ms;
	
	animation-name:loading; 
	-ms-animation-name: loading; 
	-moz-animation-name: loading;
	-webkit-animation-name: loading;
	-o-animation-name: loading;
	
	animation-duration:2s; 
	-ms-animation-duration: 2s; 
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	
	animation-iteration-count:infinite; 
	-ms-animation-iteration-count: infinite; 
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	
	animation-timing-function:linear; 
	-ms-animation-timing-function: linear; 
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
}

@keyframes loading
{
	from { transform:rotate(0deg) translateZ(0); }
	to { transform:rotate(360deg) translateZ(0); }
}

@-ms-keyframes loading{
	from { -ms-transform:rotate(0deg) translateZ(0); }
	to { -ms-transform:rotate(360deg) translateZ(0); }
}

@-moz-keyframes loading{
	from { -moz-transform:rotate(0deg) translateZ(0); }
	to { -moz-transform:rotate(360deg) translateZ(0); }
}

@-webkit-keyframes loading{
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

@-o-keyframes loading{
	from { -o-transform:rotate(0deg) translateZ(0); }
	to { -o-transform:rotate(360deg) translateZ(0); }
}



/**
 *
 * dialog styles
 *
 */
#app-dialog-mask{
    display: none;
    position: absolute;
    left: 0;
    right:0;
    z-index: 9998;
    min-height: 50px;
    color: #222;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.7); 
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
}
#app-dialog{
    display: none;
    position: absolute;
    z-index: 9999;
    left: 0;
    right:0;
    background-color: #eef3f3;
    color: #222;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}
#app-dialog.tips {
	background:none;
	box-shadow:none;
    -webkit-box-shadow:none;
	text-align:center;
}
#app-dialog.arrow:after{
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
}
#app-dialog.arrow.top:after{
     bottom: 100%;
     left: 50%;
     margin-left: -10px;
	 border-bottom-color: #CAD1DA;
 }
#app-dialog.arrow.right:after{
    left: 100%;
    top: 50%;
    margin-top: -10px;
	border-left-color: #CAD1DA;
}
#app-dialog.arrow.bottom:after{
    top: 100%;
    left: 50%;
    margin-left: -10px;
	border-top-color: #CAD1DA;
}
#app-dialog.arrow.left:after{
    top: 50%;
    right: 100%;
    margin-top: -10px;
	border-right-color: #CAD1DA;
}

#app-dialog .nav{
    text-align: center;
    font-size: 1em;
}
#app-dialog.loading{
    top:50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    opacity: .9;
    text-align: center;
    width: 150px;
    height: 50px;
	line-height:50px;
    border-radius: 10px;
}
#app-dialog.loading i.icon{
    font-size: 4em;
    line-height: 110px;
    margin:0;
}

#tag-close-dialog{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    padding: 5px 5px 10px 10px;
}
.dialog-title{
    text-align: left;
    padding: 10px;
	color: #33b4db;
}
.dialog-content{
    padding: 0 10px 10px 10px;
    line-height: 1.2em;
}
#dialog_btn_container{
    text-align: center;
    margin-top: 10px;
    display: -webkit-box;
    display: box;
}
#dialog_btn_container > a{
    -webkit-box-flex:1;
    box-flex:1;
    padding: 10px;
    display: block;
    color: #222;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    border-bottom: none;
}
#dialog_btn_container > a:last-child{
    border-right: 0 none;
}
.dialog-tips {
	display:inline-block;
	padding:5px 10px;
	color:#fff;
}
.dialog-tips.toast{
	background-color:#46CA5E;
}
.dialog-tips.success{
	background-color:#27AE60;
}
.dialog-tips.error{
	background-color:#C0392B;
}
.dialog-tips.info{
	background-color:#F1C40F;
}
	/* bounceIn */
	@keyframes bounceIn
	{
		0% {opacity: 0;transform: scale(.3);}
		50% {opacity: 1;transform: scale(1.1);}
		100% {transform: scale(1);}
	}
	
	@-ms-keyframes bounceIn{
		0% {opacity: 0;-ms-transform: scale(.3);}
		50% {opacity: 1;-ms-transform: scale(1.1);}
		100% {-ms-transform: scale(1);}
	}
	
	@-moz-keyframes bounceIn{
		0% {opacity: 0;-moz-transform: scale(.3);}
		50% {opacity: 1;-moz-transform: scale(1.1);}
		100% {-moz-transform: scale(1);}
	}
	
	@-webkit-keyframes bounceIn{
		0% {opacity: 0;-webkit-transform: scale(.3);}
		50% {opacity: 1;-webkit-transform: scale(1.1);}
		100% {-webkit-transform: scale(1);}
	}
	
	@-o-keyframes bounceIn{
		0% {opacity: 0;-o-transform: scale(.3);}
		50% {opacity: 1;-o-transform: scale(1.1);}
		100% {-o-transform: scale(1);}
	}
	/* bounceOut */
	@keyframes bounceOut
	{
		0% {transform: scale(1);}
		100% {opacity: 0;transform: scale(.5);}
	}
	
	@-ms-keyframes bounceOut{
		0% {-ms-transform: scale(1);}
		100% {opacity: 0;-ms-transform: scale(.5);}
	}
	
	@-moz-keyframes bounceOut{
		0% {-moz-transform: scale(1);}
		100% {opacity: 0;-moz-transform: scale(.5);}
	}
	
	@-webkit-keyframes bounceOut{
		0% {-webkit-transform: scale(1);}
		100% {opacity: 0;-webkit-transform: scale(.5);}
	}
	
	@-o-keyframes bounceOut{
		0% {-o-transform: scale(1);}
		100% {opacity: 0;-o-transform: scale(.5);}
	}
	/* sliderDownIn */
	@keyframes sliderDownIn
	{
		0% {opacity: 0;transform: translate3d(0,-100%,0)}
		100% {opacity: 1;transform: translate3d(0,0,0)}
	}
	
	@-ms-keyframes sliderDownIn{
		0% {opacity: 0;-ms-transform: translate3d(0,-100%,0)}
		100% {opacity: 1;-ms-transform: translate3d(0,0,0)}
	}
	
	@-moz-keyframes sliderDownIn{
		0% {opacity: 0;-moz-transform: translate3d(0,-100%,0)}
		100% {opacity: 1;-moz-transform: translate3d(0,0,0)}
	}
	
	@-webkit-keyframes sliderDownIn{
		0% {opacity: 0;-webkit-transform: translate3d(0,-100%,0)}
		100% {opacity: 1;-webkit-transform: translate3d(0,0,0)}
	}
	
	@-o-keyframes sliderDownIn{
		0% {opacity: 0;-o-transform: translate3d(0,-100%,0)}
		100% {opacity: 1;-o-transform: translate3d(0,0,0)}
	}
	/* sliderUpOut */
	@keyframes sliderUpOut
	{
		0% {opacity: 1;transform: translate3d(0,0,0)}
		100% {opacity: 0;transform: translate3d(0,-100%,0)}
	}
	
	@-ms-keyframes sliderUpOut{
		0% {opacity: 1;-ms-transform: translate3d(0,0,0)}
		100% {opacity: 0;-ms-transform: translate3d(0,-100%,0)}
	}
	
	@-moz-keyframes sliderUpOut{
		0% {opacity: 1;-moz-transform: translate3d(0,0,0)}
		100% {opacity: 0;-moz-transform: translate3d(0,-100%,0)}
	}
	
	@-webkit-keyframes sliderUpOut{
		0% {opacity: 1;-webkit-transform: translate3d(0,0,0)}
		100% {opacity: 0;-webkit-transform: translate3d(0,-100%,0)}
	}
	
	@-o-keyframes sliderUpOut{
		0% {opacity: 1;-o-transform: translate3d(0,0,0)}
		100% {opacity: 0;-o-transform: translate3d(0,-100%,0)}
	}
	/* sliderDownOut */
	@keyframes sliderDownOut
	{
		0% {transform: translate3d(0,0,0)}
		100% {transform: translate3d(0,100%,0)}
	}
	
	@-ms-keyframes sliderDownOut{
		0% {-ms-transform: translate3d(0,0,0)}
		100% {-ms-transform: translate3d(0,100%,0)}
	}
	
	@-moz-keyframes sliderDownOut{
		0% {-moz-transform: translate3d(0,0,0)}
		100% {-moz-transform: translate3d(0,100%,0)}
	}
	
	@-webkit-keyframes sliderDownOut{
		0% {-webkit-transform: translate3d(0,0,0)}
		100% {-webkit-transform: translate3d(0,100%,0)}
	}
	
	@-o-keyframes sliderDownOut{
		0% {-o-transform: translate3d(0,0,0)}
		100% {-o-transform: translate3d(0,100%,0)}
	}
	/* sliderUpIn */
	@keyframes sliderUpIn
	{
		0% {transform: translate3d(0,90%,0)}
		100% {transform: translate3d(0,0,0)}
	}
	
	@-ms-keyframes sliderUpIn{
		0% {-ms-transform: translate3d(0,90%,0)}
		100% {-ms-transform: translate3d(0,0,0)}
	}
	
	@-moz-keyframes sliderUpIn{
		0% {-moz-transform: translate3d(0,90%,0)}
		100% {-moz-transform: translate3d(0,0,0)}
	}
	
	@-webkit-keyframes sliderUpIn{
		0% {-webkit-transform: translate3d(0,90%,0)}
		100% {-webkit-transform: translate3d(0,0,0)}
	}
	
	@-o-keyframes sliderUpIn{
		0% {-o-transform: translate3d(0,90%,0)}
		100% {-o-transform: translate3d(0,0,0)}
	}

/* Lists
-------------------------------------------------- */
ul.list {
    list-style: none;
	background:#fff
}

.list>li {
    position: relative;
    padding: 15px 20px 15px 10px;;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.list>li:first-child {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.list>li > a:not([class*="button"]) {
    position: relative;
    display: block;
    padding: inherit;
    margin:-15px -20px -15px -10px;;
    color: inherit;
}
.list>li strong{
    color: #333;
    font-size: 1.2em;
}
.list>li p{
    color:#7a7a7a;
    font-size: 0.9em;
    padding-top: 5px;
}
.list>li > .icon{
    position: absolute;
    right: 5px;
    top:50%;
    font-size: 18px;
    margin-top: -9px;
    color: #BDC3C7;
}

.list>li .tag{
    position: absolute;
    top:10px;
    right: 10px;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 0.8em;
}
/* app-gotop
-------------------------------------------------- */
.app-gotop {
	position:absolute; 
	z-index:999; 
	width:40px; 
	height:40px;
	text-align:center;
	top:10px; 
	right:10px;
	background:#f0f0f0;
	border-radius:5px	
}
.app-gotop span {
	display:inline-block; 
	position:relative;
	top:-4px
}
/* tabSlider
-------------------------------------------------- */
.tabSlider {
	position:relative
}
.tabSlider-transition{
	transition: transform 0ms ease; 
	-ms-transition: -ms-transform 0ms ease; 
	-moz-transition: -moz-transform 0ms ease;
	-webkit-transition: -webkit-transform 0ms ease;
	-o-transition: -o-transform 0ms ease;
}
.tabSlider-animate{
	transition: transform 400ms ease; 
	-ms-transition: -ms-transform 400ms ease; 
	-moz-transition: -moz-transform 400ms ease;
	-webkit-transition: -webkit-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
}
.tabSlider .tabSlider-hd {
	background-color: transparent;
	border: 1px solid #007aff;
	border-radius: 3px;
	display: table;
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 100%;
}
.tabSlider .tabSlider-hd li {
	padding: 10px 0;
	cursor:pointer;
	border-color: #007aff;
	border-left: 1px solid #007aff;
	color: #007aff;
	display: table-cell;
	line-height: 1;
	overflow: hidden;
	padding-bottom: 7px;
	padding-top: 6px;
	text-align: center;
	text-overflow: ellipsis;
	transition: background-color 0.1s linear 0s;
	white-space: nowrap;
	width: 1%;
}
.tabSlider .tabSlider-hd li:first-child {
	border-left-width: 0;
}
.tabSlider .tabSlider-hd li.curr {
	background-color: #007aff;
	color: #fff;
}
.tabSlider .tabSlider-hd.line {
	border: 0 none;
	border-radius: 0;
	width: 100%;
}
.tabSlider .tabSlider-hd.line li {
	border: 0 none;
	color: inherit;
}
.tabSlider .tabSlider-hd.line li.curr {
	background: none;
	border-bottom: 2px solid #007aff;
	color: #007aff;
}

.tabSlider .tabSlider-hd.slide {
	border-radius:0;
	display:block;
	table-layout:auto;
	border:none;
	padding:0;
	text-align:center
}
.tabSlider .tabSlider-hd.slide li {
	background:#dfdfdf;
	display:inline-block;
	text-indent:20px;
	height:10px;
	width:10px;
	overflow:hidden;
	border-radius:100%;
	margin:5px;
	border:0;
	padding:0;
}
.tabSlider .tabSlider-hd.slide li.curr {
	background:#666;	
}
.tabSlider .tabSlider-bd {
	position:relative;
	min-height: 100px;
	background:#f0f0f0;
	width: 100%;
	overflow: hidden;
	transition: height 200ms ease-in-out;
	-webkit-transition: height 200ms ease-in-out;
}
.tabSlider .tabSlider-bd .tabSlider-wrap {
	position:absolute;
	top:0; 
	left:0;
	width: 100%;
	min-height: 100%;
}
.tabSlider .tabSlider-bd .tabSlider-wrap .tabSlider-box {
	position:absolute;
	top:0; 
	left:0;
	width: 100%;
	min-height: 100px;
}
.tabSlider .tabSlider-bd .tabSlider-wrap .tabSlider-box {
	padding:.5em	
}
.tabSlider .tabSlider-bd.slide {
	background:none;
}
.tabSlider .tabSlider-bd.slide .tabSlider-wrap .tabSlider-box {
	text-align:center;
	padding:0
}
/**********  page   ***********/
.mt10 {margin-top:10px}
/* sidebar */
#sidebar .logo {margin:20px 0}
#sidebar .logo .img {width:50px; height:50px; margin:0 auto}
#sidebar .logo .img img {width:100%}
#sidebar .logo .title {font-size:18px; color:#fff; text-align:center}
#sidebar .menu {position:absolute; top:100px; bottom:100px; width:100%; overflow:hidden}
#sidebar .menu h2 {font-size:20px; color:#fff; padding-left:20px}
#sidebar .menu ul li {height:50px; line-height:50px; border-bottom:#303030 1px solid; width:100%}
#sidebar .menu ul li a {color:#fff; font-size:16px; display:block; padding-left:20px}
#sidebar .menu ul li a i {margin-right:20px}
#sidebar .channel {position:absolute; bottom:10px; left:0; width:100%}
#sidebar .channel li {float:left; width:50%; text-align:center}
#sidebar .channel li a {color:#fff; display:inline-block; font-size:14px}
#sidebar .channel li a span {display:block}

/* widgets*/ 
#widgets h2 {color:#fff; font-size:30px; line-height:45px; text-align:center}

/*  header  */
.home-header a#sidebarBadge , .home-header a#widgetsBadge , .home-header a.backButton{position:absolute; top:0px; color:#fff;} 
.home-header a#sidebarBadge , .home-header a.backButton {left:5px}
.home-header a#widgetsBadge {right:5px}
/* homepage */ 
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li {
	padding: 10px;	
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}

#scroller li a {
	display:block; 
	width:100%; 
	height:100%
}